.uploaded-image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px; /* control the size */
    aspect-ratio: 1;
    mask: conic-gradient(from 22deg, #0003, #000);
    animation: load 1s steps(8) infinite;
    display: none;
    z-index: 9999;
}
.loader,
.loader:before {
    --_g: linear-gradient(#17177c 0 0) 50%; /* update the color here */
    background:
            var(--_g)/34% 8%  space no-repeat,
            var(--_g)/8%  34% no-repeat space;
}
.loader:before {
    content: "";
    transform: rotate(45deg);
}
@keyframes load {
    to { transform: rotate(1turn); }
}